#form {
  align-self: flex-start;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16pt;

  background-color: white;
  width: calc(100%-16pt);
  border-radius: 8pt;
  box-shadow: 4pt 4pt 30pt rgba(37,50,55,0.1);
}
