body {
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: 15pt;
	width: 75%;
	margin: 0 auto;
	color: #253237;
}

#logo {
	width: 75%;
	margin-top: 20vh;
}

.contact {
	font-size: 20pt;
	padding: 0;
	line-height: 1;
}

@media only screen and (max-width: 768px) {
	body {
		text-align: center;
		font-family: 'Nunito', sans-serif;
		font-size: 10pt;
		width: 75%;
		margin: 0 auto;
		color: #253237;
	}
    .contact {
		font-size: 15pt;
		padding: 0;
		line-height: 1;
	}
}