html {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 15pt;
	color: #253237;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 i {
  color: #9FD356;
  font-style: normal;
}

main.full {
  min-height: calc(100vh - 32pt);
  padding-top: 32pt;
  width: 70%;
}

#header {
  width: calc(100% - 32pt);
  padding: 0pt 32pt;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-logo-link {
  display: flex;
  flex-direction: column;
}

.site-logo {
  width: 176pt;
  height: auto;
}

#content {
  flex: 10;
  padding: 16pt 32pt;

  display: flex;
  flex-direction: column;
}

#desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 32pt 0pt;
}

#contact button{
  background-color: #B8E986;
  font-family: 'Nunito', sans-serif;
	font-size: 15pt;
	color: white;
  border-style: none;
  padding: 8pt 16pt 8pt 16pt;
  border-radius: 32pt;

  transition: all .1s cubic-bezier(.17,.67,.83,.67);
}

#contact button:hover{
  transform: scale(1.1);
  box-shadow: 4pt 4pt 30pt rgba(159, 211, 86, .2);
}

.team {
  margin: 32pt 0pt;
}

#card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.team-card{
  min-width: 32pt;
  min-height: 32pt;
  border-radius: 8pt;
  padding: 8pt 8pt 16pt 8pt;
  margin: 24pt 3pt;
  border-style: solid;
  border-width: 1pt;
  border-color: rgba(37,50,55,0.1);
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all .1s cubic-bezier(.17,.67,.83,.67);
  z-index: 0;

  text-decoration: none;
  color: #253237;
}

.team-card:hover{
  transform: scale(1.1);
  box-shadow: 4pt 4pt 30pt rgba(37,50,55,0.1);
  z-index: 10;
}

.team-card h3{
  margin: 16pt 0 0 0;
  width: 128pt;
  text-align: center;
}

.team-card p{
  margin: 0;
  opacity: 0.5;
  width: 128pt;
  text-align: center;
}

.team-avi {
  width: 128pt;
  height: 128pt;
  border-radius: 6pt;
  background-size: cover;
}

#elton {
  background-image: url("src/team/elton.jpg");
}

#will {
  background-image: url("src/team/will.jpg");
}

#connick {
  background-image: url("src/team/connick.jpg");
}

#payam {
  background-image: url("src/team/payam.jpg");
}

#ryan {
  background-image: url("src/team/ryan.jpg");
}

#alec {
  background-image: url("src/team/alec.jpg");
}

#teeny {
  background-image: url("src/team/teeny.jpg");
}

@media (max-width: 640px){
  main.full {
    width: 95%;
  }
}

footer {
  font-size: 8pt;
  background-color: rgba(37,50,55,0.05);
  padding: 12pt 64pt 12pt 64pt;
  width: calc(100% - 128pt);
  color: rgba(37,50,55,0.5);

  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-top-style: solid;
  border-top-color: rgba(37,50,55,0.1);
  border-top-width: 1pt;
}

#footer-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

footer p {
  padding: 0;
  margin: 0;
}

footer a{
  font-size: 15pt;
  color: rgba(37,50,55,0.5);
  padding: 2pt 4pt;
}
